# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Karaoke queue bot

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install Poetry
      uses: snok/install-poetry@v1
    - name: Install dependencies
      run: poetry install --no-interaction --no-root
    - name: Check formatting with black
      run: poetry run black --check src
    - name: Check types with pyre
      run: poetry run pyre check
    - name: Lint with pyflakes
      run: poetry run pyflakes src
    - name: Test with pytest and coverage
      run: |
        poetry run coverage run -m pytest
        poetry run coverage report --fail-under=75
